.wrapper {
    width: 100%;
}

.judul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: var(--white);
    box-shadow: var(--box-shadow-light);
    border-radius: 8px;
}

.logo {
    width: 120px;
}

.sideLeft {
    flex: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideRight {
    flex: 1;
    flex-basis: 80%;
}


/* Informasi */

.informasi {
    width: 100%;
    background: var(--white);
    box-shadow: var(--box-shadow-light);
    border-radius: 8px;
    margin-top: 50px;
    padding: 30px;
}

.parentInformasi {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.label {
    color: var( --light-gray);
}

.sideLeftInformasi {
    flex: 1;
    flex-basis: 50%;
}

.sideRightInformasi {
    flex: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}