.dashboardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 16px;
  row-gap: 20px;
}

.userAmount {
  grid-column: 1;
  grid-row: 1;
}

.ticketSold {
  grid-column: 2;
  grid-row: 1;
}

.productSold {
  grid-column: 3;
  grid-row: 1;
}

.articleTotal {
  grid-column: 4;
  grid-row: 1;
}

.articlesContainer {
  grid-column: 5 / span 1;
  grid-row: 1 / span 3;
}

.productsContainer {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.usersContainer {
  grid-column: 3 / span 2;
  grid-row: 2;
}

.transactionsContainer {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.orderStatusContainer {
  grid-column: 1 / span 4;
  grid-row: 4;
}

.eventContainer {
  grid-column: 5;
  grid-row: 4;
}

.subtext {
  color: var(--dark-medium);
}

.card {
  background-color: var(--white);
  box-shadow: var(--box-shadow-light);
  padding: 20px;
  border-radius: 16px;
}
